* {
    font-family: helvetica;
    font-size: 12pt;
}

#wrapper{
    height: auto !important;
    margin: 2% 10% 0 10%;
}

#header{
    height: 10%;
    //background-color: #a3a3a3;
    background: #a3a3a3; /* Для старых браузров */
    background: linear-gradient(to bottom, #a3a3a3, #f0f0f0);
    border-radius: 10px 10px 0 0;
    text-align: center;
}

#content{
    height: 100%;
    background-color: #f0f0f0;
    position: relative;
}

#leftBar{
    width: 12%;
    float:left;
    //background-color: #a3a3a3;
    background: #f0f0f0;
    position:absolute;
    top:0;
    bottom:0;
}

#centerPanel{
    display: inline-block;
    width: 83%;
    padding: 5px;
    border-radius: 6px;
    padding-left: calc(13% + 15px);
    min-height: 200px;
}

#footer{
    position: relative;
    height: 10%;
    //background-color: #a3a3a3;
    background: #a3a3a3; /* Для старых браузров */
    background: linear-gradient(to top, #a3a3a3, #f0f0f0);
    border-radius: 0 0 10px 10px;
    
    padding-right: 30px;
    text-align: right;
    font-style: italic;
}

.block{
    padding: 5px;
}

.mainCss {
    border-radius: 12px;
    background-color: gainsboro;
    display: inline-block;
    padding: 7px;
}

#empForm {
    font-size: 12px;
    font-weight: bold;
}

#empForm input {
    font-size: 12px;
    font-weight: bold;
}

#empTable b {
    font-weight: bold;
    padding: 2px;
}

#empTable a {
    text-decoration: none;
    font-style: italic;
    color: teal;
    padding: 2px;
}

#empTable a:hover { 
    text-decoration: none;
    color: steelblue;
   } 

#empTable table {
    border-collapse: collapse;
   }
   
#empTable tr:nth-child(2n) {
    background: #f0f0f0; 
   } 
   
#empTable tr:nth-child(1) {
    background: silver;
   }    
   
.message {
    position: absolute;    
   }   
   
.messageHide {
     display: none;  
   }
   
.messageShow {
     display: inline-block;  
     background-color: antiquewhite;
     border-radius: 8px;
     opacity: 0.95;
     padding: 8px;
     width: 150px;
     left: 120px;
   }    
   
#lMenu li a{
      color: teal;
      text-decoration: none;
      opacity: 1;
      margin-left:0;
   }   